<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Logicka - v1.0.0</title>

    <!--CSS Libraries-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/libs/atom.min.css" />
    <!--End-->
    <!--Project styles-->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!--End-->

    <link rel="icon" href="~/favicon.png" type="image/x-icon" />
</head>
<body>

    <div class="wrapper full-center">
        <div class="horizontal-wrapper horizontal-center">
            <div class="spinner"></div>
            <div class="spinner-mask horizontal-center"></div>
        </div>
        <div class="response-wrapper">
            <p class="response"></p>
        </div>
    </div>

    <div class="input-wrapper horizontal-center">
        <input type="text" placeholder="Click here and start typing..." />
        <span></span>
    </div>

    <span class="version horizontal-center">Logicka - v1.0.0</span>

    <!--JS libraries-->
    <script src="~/assets/scripts/libs/jquery.min.js"></script>
    <!--End-->
    <!--Project scripts-->
    <script src="~/assets/scripts/init.js"></script>
    <!--End-->
</body>
</html>